nav{
    background-color: blue;
}

.col-4{
    background-color: blue;
    border: 2px red solid;
    color: white;
    
}

.col-8{
    background-color: green;
    border: 2px red solid;
    color: white;
}
