h1{
    color:red;
    border: 5px solid red;
}

h1:hover{
    color:blue;
    border: 5px solid blue;
}

.carre{
    width:100px;
    height:100px;
    background-color: plum;
}

.carre:active{
   background-color: royalblue;
   width:200px;
   height:200px;

}

.focus:focus{
    background-color: seagreen;
    color:white;
    border-color: tomato;
}

/* condition vraie */
.range:in-range{
 background-color: yellowgreen;
}

/*condition fausse sinon*/
.range:out-of-range{
    background-color: red;
}

input[type="email"]:valid{
    background-color: teal;
}

input[type="email"]:invalid{
    background-color: violet;
}

.carre1{
    cursor: wait;
    width:100px;
    height:100px;
    background-color: tomato;
   margin:5px;
}
.carre2{
    cursor: zoom-in;
    width:100px;
    height:100px;
    background-color: tomato;
    margin:5px;

}

.carre2:active{
    width:200px;
    height:200px;
}
.carre3{
    width:100px;
    height:100px;
    background-color: tomato;
    margin:5px;
    cursor:grabbing;

}
.carre4{
    width:100px;
    height:100px;
    background-color: tomato;
    margin:5px;
    cursor:alias;
}
.carre5{
    width:100px;
    height:100px;
    background-color: tomato;
    margin:5px;
    cursor:copy;
}



