footer{
      text-align: center;
}
    
nav{
    margin-block-start: 20px;
}

a{
    color: gray;
    font-size: 18px;
    margin-inline-start: 18px;

}

#logo{
    width: 120px;
    float: left;
    
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

tr{
    text-align: center;
}


table{
    background-color: grey;
}